section#home {
  .row {
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 2rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 200rem;
  }

  .colored-grid-showcase {
    .row {
      background: #eee;
      border: solid 1px #c6c6c6;
    }

    .row .columns:nth-child(2),
    .row .columns.small-centered,
    .row .columns.large-centered {
      background: #e1e1e1;
    }
  }
}
