<section id="home">
  <h1>{{'HOME' | translate}}</h1>
  <h2>{{'RESPONSIVE_GRID' | translate}}</h2>
  <section class="colored-grid-showcase">

    <div class="row">
      <div class="small-2 large-4 columns">4</div>
      <div class="small-4 large-4 columns">4</div>
      <div class="small-6 large-4 columns">4</div>
    </div>
    <div class="row">
      <div class="large-3 columns">3</div>
      <div class="large-6 columns">6</div>
      <div class="large-3 columns">3</div>
    </div>
    <div class="row">
      <div class="small-6 large-2 columns">2</div>
      <div class="small-6 large-8 columns">8</div>
      <div class="small-12 large-2 columns">2</div>
    </div>
    <div class="row">
      <div class="small-3 columns">3</div>
      <div class="small-9 columns">9</div>
    </div>
    <div class="row">
      <div class="large-4 columns">4</div>
      <div class="large-8 columns">8</div>
    </div>
    <div class="row">
      <div class="small-6 large-5 columns">5</div>
      <div class="small-6 large-7 columns">7</div>
    </div>
    <div class="row">
      <div class="large-6 columns">6</div>
      <div class="large-6 columns">6</div>
    </div>

  </section>

  <h2>{{'BLOCK_GRID' | translate}}</h2>
  <h3>{{'X_ELEMENTS' | translate:'{x:3}'}}</h3>
  <div class="row">
    <div class="large-12 columns">
      <ul class="small-block-grid-3">
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/satelite.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/space.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/spacewalk.jpg" /></li>
      </ul>
    </div>
  </div>

  <h3>{{'X_ELEMENTS' | translate:'{x:5}'}}</h3>
  <div class="row">
    <div class="large-12 columns">
      <ul class="small-block-grid-5">
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/satelite.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/space.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/spacewalk.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/earth.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/comet.jpg" /></li>
      </ul>
    </div>
  </div>

</section>
