<section id="products">
  <h1>{{'PRODUCTS' | translate}}</h1>

  <table>
    <thead>
      <tr>
        <th>{{'NAME' | translate}}</th>
        <th>{{'PRICE' | translate}}</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><a ng-click="editProduct(product)">{{'EDIT' | translate}}</a></td>
        <td><a ng-click="deleteProduct(product)">{{'DELETE' | translate}}</a></td>
      </tr>
    </tbody>
  </table>

  <p>{{'PRODUCT_BY_ID' | translate}}: {{singleProduct.name}}  ({{singleProduct.price}})</p>
  <p>
    <a ng-click="addProduct()">{{'ADD' | translate}}</a>
  </p>

  <div ng-show="showAddPane">
    <h2>{{'ADD_PRODUCT' | translate}}</h2>
    <p>
      <label>{{'NAME' | translate}}: </label>
      <input ng-model="productName" />
    </p>
    <p>
      <label>{{'PRICE' | translate}}: </label>
      <input ng-model="productPrice" />
    </p>
    <p>
      <a ng-click="saveNewProduct()">{{'SAVE' | translate}}</a>
    </p>
  </div>

  <div ng-show="showEditPane">
    <h2>{{'EDIT_PRODUCT' | translate}}</h2>
    <p>
      <label>{{'PRICE' | translate}}: </label>
      <input ng-model="productName" />
    </p>
    <p>
      <label>{{'PRICE' | translate}}: </label>
      <input ng-model="productPrice" />
    </p>
    <p>
      <a ng-click="saveUpdatedProduct()">{{'SAVE' | translate}}</a>
    </p>
  </div>
</section>
